body {
    font-family: 'Roboto', sans-serif;
    background-color: lightblue;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    border: 2px solid black;
    background-color: #d9f3fc;
    padding: 20px;
    width: 80%; /* Breite etwas erhöhen */
}

.text-section {
    width: 45%; /* Mehr Platz für die Grafik */
    padding-right: 20px;
}

.canvas-section {
    width: 55%; /* Weniger Platz für den Text */
    text-align: center;
}

h1 {
    color: #ff0066;
    font-size: 28px; /* Titel größer */
}

h2 {
    color: #ff0066;
    font-size: 22px; /* Untertitel etwas größer */
}

canvas {
    border: 2px solid black;
    background-color: white;
    margin-top: 10px;
}
